@{
    ViewBag.Title = "Censo";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@Html.DropDownList("miDropDownList", (List<SelectListItem>)ViewBag.ListaDePaises)
@Html.DropDownList("miDropDownList2", (List<SelectListItem>)ViewBag.ListaDeEstados)

<button>Guardar</button>

<script>
</script>
